* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Roboto";
    outline: none;
    border: none;
}
html, body {
    height: 100%;
    background: black;
}
.align {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 8px;
}
.card {
    margin-top: 28px;
    height:   100%;
    max-height:  446px;
    width: 396px;
    background: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    transition: max-height 0.2s;
}
.extend {
    max-height: 480px;
}
.head {
    width: 100%;
    display: flex;
    height: 72px;
    border-bottom: 1px solid #373737;
    justify-content: space-between;
}
.head a {
    height: 100%;
    padding: 0 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(140, 140, 140);
    font-size: 20px;
    font-weight: 500;
}
.head .selected {
    position: relative;
    color: aquamarine;
    font-weight: 700;
}
.head .selected:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background: rgb(197, 255, 49);
    border-radius: 99px 99px 0 0;
}
.tabs {
    height: calc(100% - 72px);
    display: flex;
}